*.class

### Gradle ###
.gradle/build/

# Package Files #
*.war
*.ear
.idea/
*.jar
*.nar
*.zip
*.tar.gz
*.rar

*.DS_Store

.gradlew.properties

*.Ds_Store

bin/*
tmp/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

